*{
  margin:0;
  padding: 0;
}
.cases {
  margin-top: 10vw;
}

.case {
  background-color:rgb(221, 222, 248);
  border: dashed 2px black ;
  width: 16vw;
  height: 16vw;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.circles {
  position: relative;
  top: 3vw;
  left: 3vw;
  height: 8vw;
  width: 8vw;
  border-radius: 90px;
  border: solid 5px black;
}


.crosses {
  position: relative;
  top: 3vw;
  left: 3vw;
  width: 100px;
  height: 100px;
  transform: rotate(45deg);
}

.crosses::before,
.crosses::after {
  content: '';
  position: absolute;
  background-color: black;
}

.crosses::before {
  width: 5px;
  height: 100%;
  top: 0;
  left: 49%;
}

.crosses::after {
  width: 100%;
  height: 5px;
  left: 0;
  top: 49%;
}