#cases {
  border: solid 2px black;
  background-color:white;
  width: 47vw;
  margin-top: 6vw;
}

.case {
  background-color:rgb(221, 222, 248);
  border: dashed 2px black ;
  width: 16vw;
  height: 16vw;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cross {
  height: 10vw;
  width: 10vw;
}